@using Microsoft.AspNetCore.Http;

<!DOCTYPE htm!important>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Admin Paneli - @ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/kendo.bootstrap-main.min.css" />
    @RenderSection("Styles", false)
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <span id="notification" class="d-none"></span>
    <script id="errorTemplate" type="text/x-kendo-template">
        <div class="wrong-pass">
            <h5>
               <i class="k-icon k-i-warning k-icon-md"></i>
               #= title #
            </h5>
            <p>#= message #</p>
        </div>
    </script>
    <script id="successTemplate" type="text/x-kendo-template">
        <div class="upload-success">
            <h5>
                <i class="k-icon k-i-success k-icon-md"></i>
                 #= title #
            </h5>
            <p>#= message #</p>
        </div>
    </script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom p-0" id="navbar">
        <div class="container-fluid">
            <div class="py-2">
                <span id="btnMenu" class="btn btn-primary btn-sm">
                    <i class="k-icon k-i-align-justify"></i> Menü
                </span>
                <a class="navbar-brand ms-3" href="/Admin/Home">Admin Paneli</a>
            </div>
            <div class="d-flex float-end">
                <ul class="navbar-nav me-auto mb-lg-0">
                    <li class="nav-item dropdown">
                        <div class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="k-icon k-i-user fw-bold"></i>
                            <span class="d-none d-sm-block"> @Context.Session.GetString("UserName")</span>
                        </div>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" target="_blank" href="/">Siteye Git</a></li>
                            <li><a class="dropdown-item" href="/Account/Logout">Çıkış Yap</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="drawer-left-menu"></div>
    <div class="container-fluid mt-3 mb-5" id="app">
        @RenderBody()
    </div>

    <script type="application/javascript" src="~/js/lib/jquery-3.6.0.min.js"></script>
    <script type="application/javascript" src="~/js/lib/axios.min.js"></script>
    <script type="application/javascript" src="~/js/lib/bootstrap.bundle.min.js"></script>
    <script type="application/javascript" src="~/js/lib/kendo.all.min.js"></script>
    <script type="application/javascript" src="~/js/pages/admin/global.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
