<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/kendo.bootstrap-main.min.css">
    <link rel="stylesheet" href="~/css/style.css" />
    @RenderSection("Css", false)
    <title>Shop App - @ViewData["Title"]</title>
</head>
<body style="background-color: #eee;">
    @await Html.PartialAsync("_navbar")
    <span id="notification" class="d-none"></span>
    <script id="errorTemplate" type="text/x-kendo-template">
        <div class="wrong-pass">
            <h5>
               <i class="k-icon k-i-warning k-icon-md"></i>
               #= title #
            </h5>
            <p>#= message #</p>
        </div>
    </script>
    <script id="successTemplate" type="text/x-kendo-template">
        <div class="upload-success">
            <h5>
                <i class="k-icon k-i-success k-icon-md"></i>
                 #= title #
            </h5>
            <p>#= message #</p>
        </div>
    </script>

    <main class="position-relative" style="top: 70px;">
        <div class="container" id="app" style="padding-bottom: 50px;">
            @RenderBody()
        </div>
    </main>

    <footer class="navbar bg-white fixed-bottom border-top">
        <div class="container">
            Shop App @DateTime.Now.Year
        </div>
    </footer>

    <script src="~/js/lib/jquery-3.6.0.min.js"></script>
    <script src="~/js/lib/bootstrap.bundle.min.js"></script>
    <script src="~/js/lib/kendo.all.min.js"></script>
    <script src="~/js/pages/frontend/global.js"></script>
    <script src="~/js/lib/axios.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>